language: node_js
node_js:
- node
deploy:
  provider: heroku
  api_key:
    secure: ns11ACn1RntMoiae6NMtcIiJBo5bVGDJyVoxZeaqDHyGXENPKy6mBs6XROJ795/guQVme8huiopP7ZMAdTNigKKL8DdxiVQPSqKX4hp4zZg+yTk54wibFycACVwN2fnWv4g7QqIshZommIlItw3pBM5lwSjO4FJ0yt7xsaCO44OGZ9lTRrjgFUsEfgjyxmdsCPTnGZcYTWoB1anlc2+SuYnzYVUSs+Tpfqfktr6qpRgTT7PdihasZkmoSdt365ZEk/seKgr3e4UkwTOQ0naAC56gY5tgV8LJc+8JW0ScUpIMkJ0Xka97kHRlEhiLWAyhG/Q9Q25pvlG76FLLckrnGupMgDs5A2DmYfu1Rz68sb91Ozzq5UNYgrul9mlCknFVplVFvZhicFyrjdxX4pW9ksLixUh/aCNJ6aCvto9o7IPHUUWE0LDwj6MGvjloDyt3NP5zu0ppy6hXcVoOn9EBBYHTnoUcJn2e/iaFsRykPeFbFYvKqFMfseSSS2CRS3P4PeSWDVvkoMn66QnSTGUugA+ZKUrBE0SNkJ7DJDKeqTDBm/TO5tXrGU5fW2ZLN2b0vTGQORwUif1P6K42lSvU7R2xXcHM3H39F8ir6jngiv2ZizGnTVrgfs4thZrIPDf/gIoVmp+h8wAn66NYuw0Q6RJL4EGQU9POliRod2di3zg=
